<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanium.product.dao.IProductImageDao">
	<select id="findList" resultType="com.hanium.product.dto.ProductImageDto">
		SELECT 
			article_id AS articleId, 
			list_num AS listNum, 
			file_url AS fileUrl
		FROM product_image
		WHERE article_id = #{articleId}
	</select>
	<insert id="createList">
		 insert into product_image(article_id, list_num, file_url) values
		 <foreach collection="productImages" item="item" index="index" separator=",">
    		(#{item.articleId}, #{index}, #{item.fileUrl})
		 </foreach>
	</insert>
</mapper>